In [3]:
from os import path

import pandas as pd

In [9]:
DATA_DIR = "/Users/fu/Desktop/football_analytics/code-soccer-files-0.2.0/data"

# 3.0.1
match = pd.read_csv(path.join(DATA_DIR, 'matches.csv'))

In [11]:
match.head()

,match_id,label,group,date,venue,dur,gameweek,round_id,home,away,...,loser,ref,ref2,ref3,ref4,home_score,away_score,home_team,away_team,day
0,2058017,"France - Croatia, 4 - 2",NaN,2018-07-15 15:00:00,Olimpiyskiy stadion Luzhniki,Regular,0,4165368,4418,9598,...,9598,378051,378038,378060,377215,4,2,France,Croatia,31
1,2058012,"Russia - Croatia, 2 - 2 (P)",NaN,2018-07-07 18:00:00,Olimpiyskiy Stadion Fisht,Penalties,0,4165365,14358,9598,...,14358,378204,378144,378145,407737,2,2,Russia,Croatia,23
2,2057977,"Iceland - Croatia, 1 - 2",Group D,2018-06-26 18:00:00,Rostov Arena,Regular,3,4165363,7839,9598,...,7839,384946,384962,384993,380889,1,2,Iceland,Croatia,12
3,2057974,"Argentina - Croatia, 0 - 3",Group D,2018-06-21 18:00:00,Stadion Nizhny Novgorod,Regular,2,4165363,12274,9598,...,12274,380597,380580,380616,456269,0,3,Argentina,Croatia,7
4,2058014,"France - Belgium, 1 - 0",NaN,2018-07-10 18:00:00,Stadion Krestovskyi,Regular,0,4165366,4418,5629,...,5629,378232,378231,378126,379973,1,0,France,Belgium,26

In [13]:
# 3.0.2

match10 = match.sort_values('date').head(10)

In [17]:
match10.head(10)

,match_id,label,group,date,venue,dur,gameweek,round_id,home,away,...,loser,ref,ref2,ref3,ref4,home_score,away_score,home_team,away_team,day
26,2057954,"Russia - Saudi Arabia, 5 - 0",Group A,2018-06-14 15:00:00,Olimpiyskiy stadion Luzhniki,Regular,1,4165363,14358,16521,...,16521,378051,378060,378038,378204,5,0,Russia,Saudi Arabia,0
60,2057955,"Egypt - Uruguay, 0 - 1",Group A,2018-06-15 12:00:00,Stadion Central'nyj,Regular,1,4165363,16129,15670,...,16129,377215,384909,384929,384932,0,1,Egypt,Uruguay,0
59,2057961,"Morocco - Iran, 0 - 1",Group B,2018-06-15 15:00:00,Stadion Krestovskyi,Regular,1,4165363,16216,10840,...,16216,384995,384950,384938,384982,0,1,Morocco,Iran,1
57,2057960,"Portugal - Spain, 3 - 3",Group B,2018-06-15 18:00:00,Olimpiyskiy Stadion Fisht,Regular,1,4165363,9905,1598,...,0,377206,383492,384974,380103,3,3,Portugal,Spain,1
55,2057972,"Argentina - Iceland, 1 - 1",Group D,2018-06-16 13:00:00,Otkrytiye Arena,Regular,1,4165363,12274,7839,...,0,384987,384926,384981,378169,1,1,Argentina,Iceland,1
22,2057967,"Peru - Denmark, 0 - 1",Group C,2018-06-16 16:00:00,Mordovia Arena,Regular,1,4165363,15594,7712,...,15594,407901,411261,411252,395822,0,1,Peru,Denmark,2
23,2057973,"Croatia - Nigeria, 2 - 0",Group D,2018-06-16 19:00:00,Kaliningrad Stadium,Regular,1,4165363,9598,16823,...,16823,378204,378144,378145,384946,2,0,Croatia,Nigeria,2
58,2057979,"Costa Rica - Serbia, 0 - 1",Group E,2018-06-17 12:00:00,Samara Arena,Regular,1,4165363,16871,17322,...,16871,407722,407732,407514,407813,0,1,Costa Rica,Serbia,2
34,2057984,"Germany - Mexico, 0 - 1",Group F,2018-06-17 15:00:00,Stadion Luzhniki,Regular,1,4165363,3148,15473,...,3148,380599,380642,380666,380638,0,1,Germany,Mexico,3
29,2057978,"Brazil - Switzerland, 1 - 1",Group E,2018-06-17 18:00:00,Rostov Arena,Regular,1,4165363,6380,6697,...,0,379973,384145,384148,457142,1,1,Brazil,Switzerland,3

In [19]:
# 3.0.3

match.sort_values('label', ascending=False, inplace=True)
match.head()

,match_id,label,group,date,venue,dur,gameweek,round_id,home,away,...,loser,ref,ref2,ref3,ref4,home_score,away_score,home_team,away_team,day
27,2057957,"Uruguay - Saudi Arabia, 1 - 0",Group A,2018-06-20 15:00:00,Rostov Arena,Regular,2,4165363,15670,16521,...,16521,384931,384955,381841,380889,1,0,Uruguay,Saudi Arabia,6
41,2057958,"Uruguay - Russia, 3 - 0",Group A,2018-06-25 14:00:00,Samara Arena,Regular,3,4165363,15670,14358,...,14358,407722,407732,407514,407813,3,0,Uruguay,Russia,10
39,2058002,"Uruguay - Portugal, 2 - 1",NaN,2018-06-30 18:00:00,Olimpiyskiy Stadion Fisht,Regular,0,4165364,15670,9905,...,9905,379973,384145,384148,381595,2,1,Uruguay,Portugal,16
37,2058010,"Uruguay - France, 0 - 2",NaN,2018-07-06 14:00:00,Stadion Nizhny Novgorod,Regular,0,4165365,15670,4418,...,15670,378051,378038,378060,380599,0,2,Uruguay,France,21
14,2057991,"Tunisia - England, 1 - 2",Group G,2018-06-18 18:00:00,Volgograd Arena,Regular,1,4165363,16276,2413,...,16276,378169,378217,378218,379140,1,2,Tunisia,England,4

In [25]:
# 3.0.4

type(match.sort_values('label'))

pandas.core.frame.DataFrame

In [29]:
# 3.0.5

match_simple = match[['date', 'home_team', 'away_team', 'home_score', 'away_score']]

In [31]:
match_simple

                   date  home_team     away_team  home_score  away_score
27  2018-06-20 15:00:00    Uruguay  Saudi Arabia           1           0
41  2018-06-25 14:00:00    Uruguay        Russia           3           0
39  2018-06-30 18:00:00    Uruguay      Portugal           2           1
37  2018-07-06 14:00:00    Uruguay        France           0           2
14  2018-06-18 18:00:00    Tunisia       England           1           2
..                  ...        ...           ...         ...         ...
19  2018-06-18 15:00:00    Belgium        Panama           3           0
15  2018-07-02 18:00:00    Belgium         Japan           3           2
10  2018-07-14 14:00:00    Belgium       England           2           0
55  2018-06-16 13:00:00  Argentina       Iceland           1           1
3   2018-06-21 18:00:00  Argentina       Croatia           0           3

[61 rows x 5 columns]

In [33]:
match_simple = match_simple[['home_team', 'away_team', 'date', 'home_score', 'away_score']]

In [35]:
match_simple

    home_team     away_team                 date  home_score  away_score
27    Uruguay  Saudi Arabia  2018-06-20 15:00:00           1           0
41    Uruguay        Russia  2018-06-25 14:00:00           3           0
39    Uruguay      Portugal  2018-06-30 18:00:00           2           1
37    Uruguay        France  2018-07-06 14:00:00           0           2
14    Tunisia       England  2018-06-18 18:00:00           1           2
..        ...           ...                  ...         ...         ...
19    Belgium        Panama  2018-06-18 15:00:00           3           0
15    Belgium         Japan  2018-07-02 18:00:00           3           2
10    Belgium       England  2018-07-14 14:00:00           2           0
55  Argentina       Iceland  2018-06-16 13:00:00           1           1
3   Argentina       Croatia  2018-06-21 18:00:00           0           3

[61 rows x 5 columns]

In [39]:
match_simple['match_id'] = match['match_id']

/var/folders/jy/tq29c4bs2n57r_16qn3fgwf00000gn/T/ipykernel_13764/3244669709.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match_simple['match_id'] = match['match_id']

In [41]:
match_simple.head()

,home_team,away_team,date,home_score,away_score,match_id
27,Uruguay,Saudi Arabia,2018-06-20 15:00:00,1,0,2057957
41,Uruguay,Russia,2018-06-25 14:00:00,3,0,2057958
39,Uruguay,Portugal,2018-06-30 18:00:00,2,1,2058002
37,Uruguay,France,2018-07-06 14:00:00,0,2,2058010
14,Tunisia,England,2018-06-18 18:00:00,1,2,2057991

In [43]:
match.to_csv(path.join(DATA_DIR, 'match_simple.txt'), sep = '|')